/* 
CSS Resets
--------------------------------------------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {	
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
GLOBAL STYLES
--------------------------------------------
*/

html {
	font-family: 'Open-Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #0099CC;
}

/*
VERTICAL NAV MENU
--------------------------------------------
*/

#side-nav,
.subside-nav {
  font-size: 1em;
}

#side-nav {
  height: 100%;
  width: 200px;
  float: left;
  position: relative;
  overflow: hidden;
  border-right: 1px solid #CCC;
  background-color: #F1F1F1;
  transition: all .3s;
}

#side-nav ul {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#side-nav .nav-link span {
	font-size: 1em;
}

#side-nav a.nav-link {
	line-height: 44px;
	padding-left: 50px;
	display: block;
}

#side-nav ul li {

	min-height: 44px;
}

#side-nav ul li:last-child {

}

#side-nav ul li:hover {
	background-color: #DDD;
}

#side-nav.collapsed {
  width: 50px;
  transition: all .3s;
}

#nav-pin {
	height: 11px;
	width: 11px;
	border-radius: 50%;
	border: 1px solid #0EBFE9;
	position: absolute;
	margin: 3px;
	bottom: 20px;
	left: 0;
}

.nav-link.selected {
	background-color: #ADD8E6;
}

#nav-pin.selected {
	background-color: #0EBFE9;
}

/*
SUB-NAV MENU (CURRENTLY COMMENTED OUT)
--------------------------------------------
*/

.subside-nav {
	display: none;
	padding-left: 20px;
	float: left;
 	width: 300px;
 	height: 100%;
 	background-color: #3C3D36;
}

.subside-nav.active {
	display: block;	
}

.subside-nav ul li {
	padding: 10px 0 10px 0px;	
}

/*
CONTENT FRAME
--------------------------------------------
*/

#main-content {
  height: 100%;
  background-color: white;  
}

/*
DEBUGGING 
--------------------------------------------
*/

.menu-debugging {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
	height: 100px;
	width: 300px;
	font-weight: 900;
	padding: 20px;
	border: 1px solid gray;
}

.brand-logo {
	float: right;
	font-family: 'Montez', cursive;
	font-size: 3.2em;
	height: 50px;
	margin: 20px 55px 30px 0px;
}

.brand-logo a {
	float: left;
}